@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model FileUploadViewModel
<div id="file-upload-container">
    <div id="upload-container-@Model.ContainerId"></div>
</div>
@{
    var token = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}
<script type="module">
    import { Uppy, Dashboard, DragDrop, XHRUpload } from "https://releases.transloadit.com/uppy/v4.9.0/uppy.min.mjs"
    const uppy = new Uppy({
        restrictions: { maxNumberOfFiles: @Model.MaxFiles },
        autoProceed: true 
    });

    /*uppy.use(DragDrop, { target: '#upload-container-@Model.ContainerId' });*/
    uppy.use(Dashboard, {
        target: '#upload-container-@Model.ContainerId',
        inline: true, 
        showProgressDetails: true,
        height: 300,
        width: 900,
    });

    uppy.use(XHRUpload, {
        endpoint: '@Model.Endpoint',
        fieldName: '@Model.FileName',
        headers: {
            'RequestVerificationToken': '@token'
        },
        formData: true,
    });
    
    uppy.on('complete', (result) => {
        console.log('successful files:', result.successful);
        console.log('failed files:', result.failed);
        const targetElement = document.querySelector('#@Model.TargetFrame'); // Replace with your target element's selector
        if (targetElement && result.successful.length > 0) {
            targetElement.src = '@Model.TargetSrc?time=' + new Date().toString();
        }
    });
    
</script>
