@using RaythaZero.Web.Areas.Public.Pages.Shared._Partials
@model RaythaZero.Web.Areas.Public.Pages.Projects.Edit
<turbo-frame id="service_specific_file_frame">
    <div class="card-list-body">
        @if (string.IsNullOrEmpty(Model.Form.ServiceSpecificMediaId))
        {
            @Html.Partial("Shared/_Partials/FileUpload/Index", new IndexViewModel
            {
                MaxFiles = 1,
                SuccessEndpoint = Url.Page("/Projects/Edit", "ProcessServiceSpecificUpload", new { id = Model.Form.Id })
            })
        }
        @if (!string.IsNullOrEmpty(Model.Form.ServiceSpecificMediaId))
        {
            <div class="card card-task">
                <div class="card-body">
                    <div class="card-title">
                        <h6><a target="_blank" asp-controller="MediaItems" asp-action="RedirectToFileUrlById" asp-route-id="@Model.Form.ServiceSpecificMediaId">@Model.Form.ServiceSpecificMediaId</a></h6>
                    </div>
                    <div class="card-meta">
                        <a class="nav-link d-inline-flex align-items-center justify-content-center text-danger" asp-page="/Projects/Edit" asp-route-id="@Model.Form.Id" asp-page-handler="DeleteServiceSpecificUpload">
                            Delete
                        </a>
                    </div>
                </div>
                <input type="hidden" asp-for="Form.ServiceSpecificMediaId" />
            </div>
        }
    </div>
</turbo-frame>
