<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - RaythaZero.Web</title>
    <link rel="stylesheet" href="~/public/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/public/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/public/css/theme.css" asp-append-version="true"/>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    @RenderSection("headstyles", false)
</head>
<body>
@RenderBody()
<script src="~/public/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>