@page "/login/forgot-password/sent"
@model RaythaZero.Web.Areas.Public.Pages.Login.ForgotPasswordSent

@{
    Layout = "EmptyLayout";
}
<div class="main-container fullscreen">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-7">
                <div class="text-center">
                    <p>
                       A password reset link was sent to your email. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>