@page "/login/forgot-password"
@model RaythaZero.Web.Areas.Public.Pages.Login.ForgotPassword

@{
    Layout = "EmptyLayout";
}

<div class="main-container fullscreen">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-7">
                <a asp-page="/Login/LoginWithEmailAndPassword">
                    <svg class="icon icon-sm" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path></svg>
                    Back
                </a>
                <div class="text-center">
                    <h1 class="h2">Forgot password &#x1f62B;</h1>
                    <p class="lead">Enter your email address to reset</p>
                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger mt-2">
                            @ViewData["ErrorMessage"]
                        </div>
                    }

                    @if (ViewData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success mt-2">
                            @ViewData["SuccessMessage"]
                        </div>
                    }
                    <form method="post" asp-for="/Login/ForgotPassword" novalidate>
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="Email Address" asp-for="Form.EmailAddress" />
                        </div>
                        <button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
                            Send reset link
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
