@page "/"
@model RaythaZero.Web.Areas.Public.Pages.Projects.Index

@{
    Layout = "SidebarLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>