@page "/projects/manage/{id}"
@using RaythaZero.Web.Areas.Public.Pages.Projects._Partials
@using RaythaZero.Web.Areas.Public.Pages.Shared._Partials
@model RaythaZero.Web.Areas.Public.Pages.Projects.Manage

@{
  Layout = "SidebarLayout";
}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-11 col-xl-10">
      <form method="post" asp-page="/Projects/Manage" asp-route-id="@Model.Form.Id" novalidate>
      <div class="page-header">
        <h1>@Model.ProjectName <button type="submit" class="btn btn-success">Save changes</button></h1>
      </div>
      <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#resumes" role="tab" aria-controls="resumes"
             aria-selected="true">Resumes</a>
        </li>
        @if (Model.OtherDirectCostSelections.Contains("Travel"))
        {
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#travel" role="tab" aria-controls="travel"
               aria-selected="false">Travel</a>
          </li>
        }
        @if (Model.OtherDirectCostSelections.Contains("Subcontractors"))
        {
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#subcontractors" role="tab" aria-controls="subcontractors"
               aria-selected="false">Subcontractors</a>
          </li>
        }
        @if (Model.OtherDirectCostSelections.Contains("Materials"))
        {
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#materials" role="tab" aria-controls="materials"
               aria-selected="false">Materials</a>
          </li>
        }
        @if (Model.OtherDirectCostSelections.Contains("Equipment"))
        {
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#equipment" role="tab" aria-controls="equipment"
               aria-selected="false">Equipment</a>
          </li>
        }
        @if (Model.OtherDirectCostSelections.Contains("Supplies"))
        {
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#supplies" role="tab" aria-controls="supplies"
               aria-selected="false">Supplies</a>
          </li>
        }
        @if (Model.OtherDirectCostSelections.Contains("Consultants"))
        {
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#consultants" role="tab" aria-controls="consultants"
               aria-selected="false">Consultants</a>
          </li>
        }
        @if (Model.OtherDirectCostSelections.Contains("Other Direct Costs"))
        {
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#otherdirectcosts" role="tab" aria-controls="otherdirectcosts"
               aria-selected="false">Other Direct Costs</a>
          </li>
        }
      </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="resumes" role="tabpanel">
            <div class="card mt-2">
              <div class="card-body">
                <div class="content-list-body">
                  <div class="col-lg-12" id="previous_cost_volume_upload_container">
                    <div class="mb-3">
                      <label asp-for="Form.Resumes"></label>
                      <p class="lead">Upload all resumes that should be parsed below.</p>
                      <div class="card-list">
                        <div class="card-list-body">
                          @Html.Partial("_Partials/ResumesUpload")
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end of tab-->
          <div class="tab-pane fade" id="travel" role="tabpanel">
            <div class="content-list">
              <div class="content-list-body">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Travel</label>
                    <div class="card-list">
                      <p>Test</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end of content list-->
          </div>
          <div class="tab-pane fade" id="subcontractors" role="tabpanel">
            <div class="content-list">
              <!--end of content list head-->
              <div class="content-list-body">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Subcontractors</label>
                    <div class="card-list">
                      <p>Test</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="materials" role="tabpanel">
            <div class="content-list">
              <!--end of content list head-->
              <div class="content-list-body">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Materials</label>
                    <div class="card-list">
                      <p>Test</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="equipment" role="tabpanel">
            <div class="content-list">
              <!--end of content list head-->
              <div class="content-list-body">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Equipment</label>
                    <div class="card-list">
                      <p>Test</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="supplies" role="tabpanel">
            <div class="content-list">
              <!--end of content list head-->
              <div class="content-list-body">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Supplies</label>
                    <div class="card-list">
                      <p>Test</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="consultants" role="tabpanel">
            <div class="content-list">
              <!--end of content list head-->
              <div class="content-list-body">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Consultants</label>
                    <div class="card-list">
                      <p>Test</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="otherdirectcosts" role="tabpanel">
            <div class="content-list">
              <!--end of content list head-->
              <div class="content-list-body">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Other Direct Costs</label>
                    <div class="card-list">
                      <p>Test</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function removeFile(button) {
    button.closest(".file-container").remove();
  }
</script>