@model RaythaZero.Web.Areas.Public.Pages.BasePublicPageModel
<div class="navbar bg-white breadcrumb-bar">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Projects</a>
            </li>
            @if (!string.IsNullOrEmpty(Model.ProjectName))
            {
                <li class="breadcrumb-item active" aria-current="page">@Model.ProjectName</li>
            }
        </ol>
    </nav>

    @if (!string.IsNullOrEmpty(Model.ProjectName))
    {
        <div class="dropdown">
            <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
                <i class="material-icons">settings</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" asp-page="/Projects/Edit" asp-route-id="@Model.ProjectId">Edit Project</a>
                <div class="dropdown-divider"></div>
                <form method="post" asp-page="/Projects/Archive" asp-route-id="@Model.ProjectId" onsubmit="return confirmArchive();">
                    <button href="#" class="dropdown-item btn btn-link text-danger">
                        Archive 
                    </button>
                </form>
            </div>
        </div>
    }
</div>
<script>
    function confirmArchive() {
        return confirm("Are you sure you want to archive this project?");
    }
</script>